.blog {
    &__title {
        margin-top: 168px;
        text-align: center;
    }

    &__subtitle {
        margin-top: 23px;
        text-align: center;
    }

    &__descr {
        margin: 11px auto 0;
        text-align: center;
        width: 470px;
    }
}