.button {
    width: 154px;
    height: 48px;
    font-family: 'Elsie';
    font-weight: 900;
    font-size: 16px;
    color: #5DC4B8;
    text-align: center;
    background: none;
    border-radius: 10px;
    border-color: #5DC4B8;
    border: 1px solid rgba(99, 197, 181, 0.4);
}

.buttonbg {
    font-family: 'Elsie';
    font-weight: 900;
    font-size: 16px;
    width: 146px;
    height: 48px;
    background: linear-gradient(180deg, #96e4dd 0, #5dc4b8 100%);
    border-radius: 12px;
    border: unset;
    color: #fff;
}