.clients {
    &__title {
        text-align: center;
        margin-top: 136px;
    }

    &__subtitle {
        text-align: center;
        margin-top: 23px;
    }

    &__descr {
        text-align: center;
        margin-top: 11px;
        width: 470px;
        margin: 11px auto 0;
        color: #333333;


    }

}