.footer {

    &__titleFood {
        margin-top: 172px;
    }

    &__title {
        margin-top: 184px;
    }

    &__social {
        display: flex;
        margin-top: 20px;
    }

    &__facebook {
        width: 48px;
        height: 48px;
        background: #5DC4B8;
        border-radius: 100%;

        img {
            margin: 16px 19px;
        }
    }

    &__twitter {
        width: 48px;
        height: 48px;
        background: #EF633E;
        border-radius: 100%;
        margin: 0 8px 0;

        img {
            margin: 18px 16px;
        }
    }

    &__instagram {
        width: 48px;
        height: 48px;
        background: #EFA322;
        border-radius: 100%;

        img {
            margin: 16px 16px;
        }
    }

    &__items {
        display: flex;
    }

    &__item2 {
        margin-left: 140px;
    }

    &__item3 {
        margin-left: 249px;
    }

    &__item4 {
        margin-left: 217px;
    }

    &__subscribe {
        margin-top: 16px;
    }

    &__input {
        width: 260px;
        height: 52px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 12px;
        margin-top: 20px;
        padding-left: 16px;
    }

    &__descr {
        display: flex;
        justify-content: space-between;
    }

    &__divaider {
        margin-top: 54px;
        width: 1170px;
        height: 1px;
        background: #000000;
        mix-blend-mode: normal;
        opacity: 0.1;
    }

    &__copy {
        margin-top: 41px;
    }

    &__wrapp {
        display: flex;
        margin-top: 41px;
        margin-bottom: 45px;
    }

    &__terms {
        margin-right: 82px;
    }
}