.fullmenu {
    &__button {
        display: block;
        margin: 128px auto 0;
        border: 1px solid rgba(99, 197, 181, 0.4);
    }

    &__title {
        margin-top: 104px;
        font-family: 'Manrope';
        font-size: 20px;
        text-align: center;
        color: #333333;
    }

    &__category {
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(4, 172px);
        gap: 30px;
        justify-content: center;

        &-rectangle {
            position: relative;
            width: 170px;
            height: 192px;
            background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
            border-radius: 50px 24px 24px 24px;

            &-color1 {
                background: linear-gradient(180deg, #E4FFFC 0%, #C5FFF8 100%);
            }

            &-color2 {
                background: linear-gradient(180deg, #FFF8EC 0%, #FFEFD4 100%);
            }

        }

        &-round {
            position: absolute;
            top: -32px;
            left: 21px;
            width: 128px;
            height: 128px;
            background: #FFFFFF;
            box-shadow: 0px 8px 48px rgba(0, 24, 52, 0.080899);
            border-radius: 100%;

        }

        &-title {
            padding-top: 122px;
            font-family: 'Manrope';
            font-size: 16px;
            color: #333333;
            text-align: center;
        }

        &-img {
            position: absolute;
            top: 6px;
            left: 63px;
        }
    }
}